{% load pages_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Django Client Templates</title>
    <meta name="description" content="" />
    <meta name=viewport content="width=device-width,initial-scale=1" />
</head>
<body>
    <h1>PlateJS</h1>
    <p>Uses a Django raw_include tag + PlateJS to re-render templates in the browser</p>
    <p><a href="/plate">Load example</a></p>
    <p>&nbsp;</p>
    <h1>Angular</h1>
    <p>Uses django-angular module + AngularJS to re-render templates in the browser</p>
    <p><a href="/angular">Load example</a></p>
</body>
</html>